{% extends 'layout.html' %}

{% load staticfiles %}

{% block head %}
  <script>
    $(function () {
      $("#gallery-link").click(function () {
        if (confirm("동기화는 반드시 Jaram 게정으로 이루어져야 합니다. 현재 구글에 로그인되어 있는 계정이 Jaram 계정입니까?")) {
          window.location.href = "{% url 'gallery_link' %}";
        }
      });
    });
  </script>
{% endblock %}

{% block header_title %}
  갤러리
{% endblock %}

{% block header_content %}
  {% if user.is_staff %}
    <button id="gallery-link" class="ui button inverted basic yellow">동기화</button>
  {% endif %}
{% endblock %}

{% block body %}
  <section class="ui container">
    <div class="ui five cards">
      {% for album in albums %}
        <div class="card">
          <div class="image">
            <img src="{{ album.thumbnail_url }}">
          </div>
          <div class="content">
            <a href="{% url 'gallery_detail' id=album.pk %}" class="header">{{ album.title }}</a>
            <div class="meta">
              <span>{{ album.date|date:'Y-m-d' }}</span>
            </div>
            <div class="description">{{ album.description }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}