{%  extends 'layout.html' %}

{% load staticfiles %}

{%  block header_title %}
    워크샵
{%  endblock  %}

{% block header_content %}
    <a href="{% url 'workshop_registration' %}" class="ui button inverted basic yellow">워크샵 등록</a>
    <a href="{% url 'workshop_taskList' %}" class="ui button inverted basic yellow">워크샵 과제</a>
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="ui container">
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th width="200px">WorkShop</th>
        <th width="270px">Term</th>
        <th width="500px">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for item in page %}
        <tr>
          <td><a href="{% url 'workshop_detail' id=item.pk %}" class="header">{{ item.subject }}</a></td>
          <td>{{ item.start_date }} ~ {{ item.end_date }}</td>
          {% autoescape off %}
          <td>{{ item.content }}</td>
          {% endautoescape %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}