{% extends 'layout.html' %}

{% load staticfiles %}

{% block head %}
  <script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
  <script>
    function registrationSubmit() {
      return true;
    }

    $(function () {
      CKEDITOR.replace('content', {
        language: 'ko',
        toolbar: 'Basic',
        filebrowserUploadUrl: "{% url 'ckeditor_upload' %}"
      });

      $("#registration-submit").click(function () {
        $("button[type=submit]").click();
      });
    });
  </script>
{% endblock %}

{% block header_title %}
  워크샵 등록
{% endblock %}

{% block header_content %}
  <a href="{% url 'workshop' %}" class="ui button inverted basic">워크샵 목록</a>
  <button id="registration-submit" type="button" class="ui button inverted green">워크샵 등록</button>
{% endblock %}

{% block body %}
  <section class="ui container">
    <form id="registration-form" class="ui form" onsubmit="return registrationSubmit();"
          method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="field">
        <label>워크샵 주제</label>
        <input type="text" name="subject" placeholder="워크샵 주제" required>
      </div>
      <div class="field">
        <label>워크샵 시작 날짜</label>
        <input type="date" name="start_date" placeholder="워크샵 시작 날짜 (YYYY-MM-DD)" required>
      </div>
      <div class="field">
        <label>워크샵 종료 날짜</label>
        <input type="date" name="end_date" placeholder="워크샵 종료 날짜 (YYYY-MM-DD)" required>
      </div>
      <div class="field">
        <label>워크샵 내용</label>
        <textarea name="content" rows="16" placeholder="내용, 계획, 목표 등에 대해서 작성" required></textarea>
      </div>
      <button type="submit" class="hide"></button>
    </form>
  </section>
{% endblock %}