{% extends 'layout.html' %}

{% load staticfiles %}

{% block head %}
  <script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
  <script>
    function registrationSubmit() {
      return true;
    }

    $(function () {
      CKEDITOR.replace('content', {
        language: 'ko',
        toolbar: 'Basic',
        filebrowserUploadUrl: "{% url 'ckeditor_upload' %}"
      });
      $("#registration-submit").click(function () {
        $("button[type=submit]").click();
      });
    });
  </script>
{% endblock %}

{% block header_title %}
  과제 제출
{% endblock %}

{% block header_content %}
  <a href="{% url 'workshop' %}" class="ui button inverted basic">워크샵 목록</a>
  <a href="{% url 'workshop_taskList' %}" class="ui button inverted basic">과제 목록</a>
  <a href="{% url 'workshop_taskDetail' id=workshop_task.pk %}" class="ui button inverted basic">과제 페이지</a>
  <a href="{% url 'workshop_taskSubmissionDetail' id=workshop_task.pk task_id=workshop_taskSubmission.pk %}" class="ui button inverted basic">제출 과제 페이지</a>
  <button id="registration-submit" type="button" class="ui button inverted green">과제 수정</button>
{% endblock %}

{% block body %}
  <section class="ui container">
    <form id="registration-form" class="ui form" onsubmit="return registrationSubmit();"
          method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="field">
        <textarea name="content" rows="16" placeholder="과제 내용에 대해 작성" required>{% autoescape off %}
      <div>{{ workshop_taskSubmission.content }}</div>
      {% endautoescape %}</textarea>
      </div>
      <div class="field">
        <label>첨부 파일</label>
        <input type="file" name="attachment">
      </div>
      <button type="submit" class="hide"></button>
    </form>
  </section>
{% endblock %}