{% extends 'layout.html' %}

{% load staticfiles %}

{% block head %}
  <style>
    #member-search {
      display: inline;
    }
  </style>
  <script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
  <script>
  function createUserItemView(result) {
      var container = $("#member-container").find("div.item").first().clone();
      container.addClass("task-duty-member");
      container.attr("item_id", result.id);
      container.find("div.label").text("").append($("<img src='" + result.image + "'>"));
      container.find("div.content").text(result.title);
      return container;
    }

    function addMember(result) {
      var memberContainer = $("#member-container");

      if (memberContainer.find("div[item_id=" + result.id + "]").size() > 0) {
        alert("이미 추가된 회원입니다.");
        return;
      }

      memberContainer.append(createUserItemView(result));
    }

    function registrationSubmit() {
      var memberList = [];
      $(".task-duty-member").each(function () {
        memberList.push($(this).attr("item_id"));
      });

      if (memberList.length == 0) {
        alert("과제 제출자가 존재하지 않습니다.");
        return false;
      }

      $("input[name=member]").val(memberList.toString());
      return true;
    }

    $(function () {
      CKEDITOR.replace('content', {
        language: 'ko',
        toolbar: 'Basic',
        filebrowserUploadUrl: "{% url 'ckeditor_upload' %}"
      });

        $("#registration-submit").click(function () {
        $("button[type=submit]").click();
      });

      $("#member-search").search({
        apiSettings: {
          url: "{% url 'study_api_search_user' %}?query={query}"
        },
        onSelect: function (result, response) {
          addMember(result);
        }
      });
    });
  </script>
{% endblock %}

{% block header_title %}
  과제 등록
{% endblock %}

{% block header_content %}
  <a href="{% url 'workshop' %}" class="ui button inverted basic">워크샵 목록</a>
  <a href="{% url 'workshop_taskList' %}" class="ui button inverted basic">과제 목록</a>
  <button id="registration-submit" type="button" class="ui button inverted green">과제 등록</button>
{% endblock %}

{% block body %}
  <section class="ui container">
    <form id="registration-form" class="ui form" onsubmit="return registrationSubmit();"
          method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="field">
        <label>과제 제목</label>
        <input type="text" name="title" placeholder="과제 제목" required>
      </div>
      <div class="field">
        <label>제출 기한</label>
        <input type="date" name="deadline" placeholder="제출 기한 (YYYY-MM-DD)" required>
      </div>
      <div class="field">
        <label>과제 내용</label>
        <textarea name="content" rows="16" placeholder="과제 내용에 대해 작성" required></textarea>
      </div>
      <div>
        <label>과제 의무자 명단</label>
        <div id="member-search" class="ui search push-left">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="구성원 검색">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
        <div id="member-container" class="ui grid push-top push-bottom">
          <input type="hidden" name="member"/>
          <div class="item" item_id="{{ user.pk }}">
            <div class="ui feed">
              <div class="event">
                <div class="label">
                  {% if user.profile %}
                    <img src="{{ user.profile.url }}">
                  {% else %}
                    <img src="{% static 'mainapp/img/profile_default.png' %}">
                  {% endif %}
                </div>
                <div class="content">
                  {{ user.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="hide"></button>
    </form>
  </section>
{% endblock %}