{% extends 'layout.html' %}

{% load staticfiles %}
{% load board_extras %}

{% block header_title %}
  {{ board.name }}
{% endblock %}

{% block header_content %}
  <a href="{% url 'post_write' %}?board_name={{ board.eng_name }}" class="ui button inverted basic">게시글 작성</a>
{% endblock %}

{% block head %}
  <script>
    $(function () {
      $(".pagination > .item").click(function () {
        $("input[name=page]").val($(this).attr("page-num"));
        $("#page-form").submit();
      });
    });
  </script>
  <link rel="stylesheet" href="{% static 'board/css/list.css' %}"/>
{% endblock %}

{% block body %}
  <form id="page-form" method="get">
    <input type="hidden" name="page" value="{{ page.number }}">
  </form>

  <!-- TODO: 중요 공지사항을 상단에 표시하되 정렬로 상단에 표시하도록 바꾸고 중요 공지는 스타일을 변경한다.-->

  <div class="ui text container">
    {% if board.eng_name == 'notice' %}
      <h1 class="ui header">중요 공지사항</h1>
      <div class="ui divider"></div>
      <div class="ui divided items">
        {% for post in emphasis_posts %}
          <div class="item">
            <div class="ui small rounded image">
              <a href="{% url 'post_detail' name='notice' id=post.pk %}">
                {% if post.thumbnail %}
                  <img src="{{ post.thumbnail.url }}">
                {% else %}
                  <img src="{% static 'mainapp/img/no_image.png' %}">
                {% endif %}
              </a>
            </div>
            <div class="content">
              <a href="{% url 'post_detail' name='notice' id=post.pk %}" class="header">{{ post.title }}</a>
              <div class="description">
                <span>{% autoescape off %}{{ post.content|get_text|truncatechars:150 }}{% endautoescape %}</span>
              </div>
              <div class="extra">
                <i class="user icon"></i>
                <span class="writer">{{ post.writer }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="calendar icon"></i>
                <span class="posted_date">{{ post.write_date|date:'Y년 m월 d일' }}</span>
                <i class="unhide icon"></i>
                <span class="hit">{{ post.hit }}회</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <h1 class="ui header">{{ board.name }}</h1>
    <div class="ui divider"></div>
    <div class="ui divided items">
      {% for post in page %}
        <div class="item">
          <div class="ui small rounded image">
            <a href="{% url 'post_detail' name=board.eng_name id=post.pk %}" class="header">
              {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}">
              {% else %}
                <img src="{% static 'mainapp/img/no_image.png' %}">
              {% endif %}
            </a>
          </div>
          <div class="content">
            <a href="{% url 'post_detail' name=board.eng_name id=post.pk %}" class="header">{{ post.title }}</a>
            <div class="description">
              <span><p>{% autoescape off %}{{ post.content|get_text|truncatechars:200 }}{% endautoescape %}</p></span>
            </div>
            <div class="extra">
              {% if board.name != '플레이스토밍' %}
                <i class="user icon"></i>
                <span class="writer">{{ post.writer }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
              {% endif %}
              <i class="calendar icon"></i>
              <span class="posted_date">{{ post.write_date|date:'Y년 m월 d일' }}</span>
              <i class="unhide icon"></i>
              <span clcass="hit">{{ post.hit }}회</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <br>
    {% include 'easy_paginator.html' %}
  </div>
  <br>
{% endblock %}