{% extends 'layout.html' %}

{% block header_title %}
    중요 알림
{% endblock %}

{% block header_content %}
  알림 내용
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="ui stackable two column divided grid container">
        <div class="row">
            <!--게시글 목록-->
            <div class="ten wide column">
                <!--최신 게시글-->
                <h1 class="ui header">New Posts</h1>
                <div class="ui divider"></div>
                <div class="ui items">
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/board/img/IMG_2063.jpg" style="width:150px;height:150px;">
                        </div>
                        <div class="content">
                            <a class="header">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                Additional Details
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/board/img/2016-05-08.jpg" style="width:150px;height:150px;">
                        </div>
                        <div class="content">
                            <a class="header">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                Additional Details
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/board/img/2016-05-24.png" style="width:150px;height:150px;">
                        </div>
                        <div class="content">
                            <a class="header">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                Additional Details
                            </div>
                        </div>
                    </div>
                </div>
                <!--공지사항-->
                <h1 class="ui header">Notices</h1>
                <div class="ui divider"></div>
                <div class="ui divided items">
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/board/img/IMG_2063.jpg" style="width:150px;height:150px;">
                        </div>
                        <div class="content">
                            <a class="header">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                Additional Details
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/board/img/2016-05-08.jpg" style="width:150px;height:150px;">
                        </div>
                        <div class="content">
                            <a class="header">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                Additional Details
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/board/img/2016-05-24.png" style="width:150px;height:150px;">
                        </div>
                        <div class="content">
                            <a class="header">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</span>
                            </div>
                            <div class="description">
                                <p></p>
                            </div>
                            <div class="extra">
                                Additional Details
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--우측 위젯 바-->
            <div class="six wide column">
                <div class="ui segment">Calender</div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
{% endblock %}