{% extends 'layout.html' %}

{% load staticfiles %}
{% block header_title %}
  {% if isModify %}
    <p>게시글 수정</p>
  {% else %}
    <p>게시글 작성</p>
  {% endif %}
{% endblock %}

{% block header_content %}
  <button type="button" onclick="window.history.back()" class="ui button inverted basic">뒤로 가기</button>
  {% if isModify %}
    <button id="post-submit" type="button" class="ui button inverted green">글 수정</button>
  {% else %}
    <button id="post-submit" type="button" class="ui button inverted green">글 작성</button>
  {% endif %}
{% endblock %}

{% block head %}
  <script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
  <script>
    $(function () {
      CKEDITOR.replace('content', {
        language: 'ko',
        toolbar: 'Basic',
        filebrowserUploadUrl: "{% url 'ckeditor_upload' %}"
      });
      $("#post-submit").click(function () {
        if (window.File && window.FileReader && window.FileList && window.Blob) {
          var file = $("#id_file")[0].files[0];
          if (file && file.size > 20 * 1024 * 1024) {
            alert("첨부 파일의 크기는 20MB 이하여야 합니다.");
            return false;
          }
        }
        $("button[type=submit]").click();
      });
      $("#board-select").dropdown();
    });
  </script>
{% endblock %}

{% block body %}
  <section class="ui container">
    <form id="post-form" class="ui form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="two fields">
        <div class="three wide field">
          <label>게시판</label>
          <div id="board-select" class="ui compact selection {% if isModify %}disabled{% endif %} dropdown">
            <input type="hidden" name="board_name" value="{{ board.eng_name }}" required>
            <i class="dropdown icon"></i>
            <div class="default text">{{ board.eng_name }}</div>
            <div class="menu">
              {% for each in boards %}
                <div class="item" data-value="{{ each.eng_name }}" data-text="{{ each.name }}">{{ each.name }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="thirteen wide field">
          <label>제목</label>
          <input type="text" name="title" placeholder="ex) 00기 홍길동 [세미나 제목]"
                 value="{% if post %}{{ post.title }}{% endif %}" required>
        </div>
      </div>
      <div class="field">
        <label>미리보기 사진</label>
        <p>{% if post and post.thumbnail %}{{ post.thumbnail.name }}{% endif %}</p>
        <input type="file" name="thumbnail" accept="image/png,image/jpeg,image/gif">
      </div>
      <div class="field">
        <label>내용</label>
        <textarea name="content" rows="16" required>{% if post %}{{ post.content }}{% else %}내용{% endif %}</textarea>
      </div>
      <div class="field">
        <label>첨부 파일</label>
        <p style="font-size:10px">20MB 이하</p>
        <p>{% if post and post.attachment %}{{ post.attachment.name }}{% endif %}</p>
        <input type="file" name="attachment" id="id_file">
      </div>
      {% if board.eng_name == 'notice' %}
        <div class="ui checkbox">
          <input type="checkbox" name="emphasis" {% if post %}value="{{ post.emphasis }}"{% endif %}>
          <label>중요</label>
        </div>
      {% endif %}
      <button type="submit" class="hide"></button>
    </form>
  </section>
{% endblock %}