{% extends 'layout.html' %}
{% load board_extras %}
{% load staticfiles %}

{% block header_title %}
    {{ seminar.title }}
{% endblock %}

{% block header_content %}
    <p><i class="user icon"></i>&nbsp;{{ seminar.writer }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="calendar icon"></i>&nbsp;{{ seminar.write_date|date:'Y년 m월 d일'}}</p>
    <a href="{% url 'seminar' %}" class="ui button inverted basic">게시글 목록</a>
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class='ui text container'>
        <div id="contents">
            {% autoescape off %}{{ seminar.content }}{% endautoescape %}
        </div>
        <br>
        <div class="ui divider"></div>
        <h3>{{ comments|num_of_comments }}개의 댓글</h3>
        <form id="comment-form" class="ui form" method="post">
            {% csrf_token %}
            <div class="field">
                <label>댓글달기</label>
                <textarea name="content" rows="3" required></textarea>
            </div>
            <button class="ui basic button" type="submit" class="hide" style="float: right">저장</button>
        </form>
        <br>
        <section name="comments">
            <div class="ui divided items">
            {% for comment in comments %}
                <div class="item">
                    <div class="content">
                        <div class="description">{{ comment.content }}</div>
                        <hr style="height:3px; visibility:hidden;" />
                        {% if comment.writer.profile %}
                            <img class="ui avatar image" src={{ comment.writer.profile }}>
                        {% else %}
                            <img class="ui avatar image" src="{% static "mainapp/img/profile_default.png" %}">
                        {% endif %}
                        <span>{{ comment.writer }}</span>
                        <div class="right floated meta">written on {{ comment.write_date}}</div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}