{% extends 'layout.html' %}

{% block header_title %}
    <p>{{ header_title }}</p>
{% endblock %}

{% block header_content %}

        <a href="{% url 'seminar' %}" class="ui button inverted basic">게시글 목록</a>
        <button id="post-submit" type="button" class="ui button inverted green">글 작성</button>
{% endblock %}

{% block head %}
    <script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
    <script>
        $(function () {
            CKEDITOR.replace('content', {
            language: 'ko',
            toolbar: 'Basic',
            filebrowserUploadUrl: "{% url 'ckeditor_upload' %}"
        });
        $("#post-submit").click(function () {
            $("button[type=submit]").click();
        });
    });
  </script>
{% endblock %}

{% block body %}
    <section class="ui container">
        <form id="post-form" class="ui form" method="post">
            <input type="hidden" name="post_type" value="{{ target }}">
            {% csrf_token %}
            <div class="field">
                <label>제목</label>
                <input type="text" name="title" placeholder="니가 아는 바로 그 제목" required>
            </div>
            <div class="field">
                <label>내용</label>
                <textarea name="content" rows="16" required></textarea>
            </div>
            <div class="field">
                <label>첨부 파일</label>
                <input type="file" name="attachment">
            </div>
            <button type="submit" class="hide"></button>
        </form>
    </section>
{% endblock %}