{% extends 'layout.html' %}

{% load staticfiles %}

{% block head %}
  <style>
    {% if study.image %}
      header {
        background: url("{{ study.image.url }}") center;
      }
    {% endif %}
  </style>

  <script>
    $(function () {
      $('.ui.sticky').sticky({
        context: '#sticky-container',
        offset: 96
      });
    });
    $(function () {
      $('#order-checkbox').checkbox({onChange: function () {
        var listItems = $('#report-container').children();
        $('#report-container').append(listItems.get().reverse());
      },
      onChecked: function () {
        $('#report-order').text('추가된 날짜(오래된순)');
      },
      onUnchecked: function () {
        $('#report-order').text('추가된 날짜(최신순)');
      }});
    });
  </script>
{% endblock %}

{% block header_title %}
  {{ study.name }}
{% endblock %}

{% block header_content %}
  <p>{{ study.description }}</p>
  <a href="{% url 'study' %}" class="ui button inverted basic">스터디 목록</a>
  <a href="{% url 'study_report' id=study.pk %}" class="ui button inverted basic yellow">보고서 작성</a>
{% endblock %}

{% block body %}
  <section class="ui container">
    <div class="ui piled segment">
      <h4 class="ui header">{{ study.name }}</h4>
      <div>{% autoescape off %}{{ study.content }}{% endautoescape %}</div>
    </div>
  </section>
  <section id="sticky-container" class="ui stackable two column grid container">
    <div class="row push-top3">
      <div class="twelve wide column">
        <div id='order-checkbox' class="ui toggle checkbox">
          <input type="checkbox" name="public">
          <label id="report-order">추가된 날짜(최신순)</label>
        </div>
      <!--TODO: 레포트 순서 체크박스 구현-->
        <div class="ui divided items push-right3" id="report-container">
          {% for report in reports %}
            <div class="item">
              <div class="ui segment full-width">
                <h2 class="ui header">{{ report.title }}</h2>
                <h4 class="ui header">{{ report.write_date|date:'Y년 m월 d일' }}</h4>
                <div>{% autoescape off %}{{ report.content }}{% endautoescape %}</div>
                {% if report.attachment %}
                  <div class="ui divider"></div>
                  <a href="{{ report.attachment.url }}"><i class="icon download"></i> {{ report.attachment.name }}</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="four wide column">
        <div class="ui sticky">
          <h3>구성원</h3>
            <div class="ui feed">
              <div class="event">
                <div class="label">
                  {% if study.leader.profile %}
                    <img src="{{ study.leader.profile.url }}">
                  {% else %}
                    <img src="{% static 'mainapp/img/profile_default.png' %}">
                  {% endif %}
                </div>
                <div class="content">
                  {{ study.leader.name }}
                </div>
              </div>
            </div>
          {% for member in members %}
            <div class="ui feed">
              <div class="event">
                <div class="label">
                  {% if member.profile %}
                    <img src="{{ member.profile.url }}">
                  {% else %}
                    <img src="{% static 'mainapp/img/profile_default.png' %}">
                  {% endif %}
                </div>
                <div class="content">
                  {{ member.name }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}