{% extends 'layout.html' %}

{% load staticfiles %}

{% block head %}
{% endblock %}

{% block header_title %}
  스터디 목록
{% endblock %}

{% block header_content %}
  <button class="ui button inverted basic yellow">스터디 등록 신청</button>
{% endblock %}

{% block body %}
  <section class="ui container">
    <div class="ui three cards">
      {% for item in page %}
        <div class="card">
          <div class="image">
            <img src="{{ item.image.url }}">
          </div>
          <div class="content">
            <a href="{% url 'study_detail' id=item.pk %}" class="header">{{ item.name }}</a>
            <div class="meta">
              <span>{{ item.leader.name }}</span>
            </div>
            <div class="description">{{ item.description }}</div>
          </div>
          <div class="content extra">
            {% if user in item.members %}
              <span class="right floated"><i class="icon star"></i></span>
            {% endif %}
            <span><i class="icon user"></i> {{ item.members|length }}명이 함께 스터디 중 </span>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}