{% extends 'layout.html' %}

{% load staticfiles %}

{% block head %}
  <style>
    {% if study.image %}
      header {
        background: url("{{ study.image.url }}") center;
      }
    {% endif %}
  </style>
  <script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
  <script>
    $(function () {
      CKEDITOR.replace('content', {
        language: 'ko',
        toolbar: 'Basic',
        filebrowserUploadUrl: "{% url 'ckeditor_upload' %}"
      });
      $("#report-submit").click(function () {
          if (window.File && window.FileReader && window.FileList && window.Blob) {
            var file = $("#id_file")[0].files[0];
            if (file && file.size > 20 * 1024 * 1024) {
              alert("첨부 파일의 크기는 20MB 이하여야 합니다.");
              return false;
            }
          }
        $("button[type=submit]").click();
      });
    });
  </script>
{% endblock %}

{% block header_title %}
  '{{ study.name }}' 보고서 작성
{% endblock %}

{% block header_content %}
  <p>{{ study.description }}</p>
  <a href="{% url 'study' %}" class="ui button inverted basic">스터디 목록</a>
  <a href="{% url 'study_detail' id=study.pk %}" class="ui button inverted basic yellow">스터디 페이지</a>
  <button id="report-submit" type="button" class="ui button inverted green">보고서 제출</button>
{% endblock %}

{% block body %}
  <section class="ui container">
    <form id="report-form" class="ui form" method="post">
      {% csrf_token %}
      <div class="field">
        <label>제목</label>
        <input type="text" name="title" placeholder="진행한 내용에 대해 간략하게 기입" required>
      </div>
      <div class="field">
        <label>내용</label>
        <textarea name="content" rows="16" placeholder="진행한 내용에 대해 상단에 요약을 하고 아래에 상세하게 정리" required></textarea>
      </div>
      <div class="field">
        <label>첨부 파일</label>
        <p style="font-size:10px">20MB 이하</p>
        <input type="file" name="attachment" id="id_file">
      </div>
      <button type="submit" class="hide"></button>
    </form>
  </section>
{% endblock %}