<!DOCTYPE html>
<html lang="en">
<head>

  {% load staticfiles %}
  <title>Jaram</title>
  {% include 'head_default.html' %}

  <link rel="stylesheet" href="{% static 'mainapp/css/layout.css' %}"/>

  <style>
    header {
      background: url("{% static 'mainapp/img/background.jpg'%}") center;
      background-size: cover !important;
    }
  </style>

  {% block head %}
  {% endblock %}
</head>
<body>
<nav class="ui fixed borderless top menu">
  <div class="ui container">
    <a href="{% url 'homepage_main' %}"><h2 id="logo" class="push-right2">JARAM</h2></a>
    <div class="item ui simple dropdown">
      <div class="text">게시판</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a href="{% url 'post_list' name='notice' %}" class="item">공지사항</a>
        <a href="{% url 'post_list' name='student' %}" class="item">재학생 게시판</a>
        <a href="{% url 'post_list' name='graduate' %}" class="item">졸업생 게시판</a>
      </div>
    </div>
    <div class="item ui simple dropdown">
      <div class="text">활동</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a href="{% url 'study' %}" class="item">스터디</a>
        <a href="{% url 'post_list' name='seminar' %}" class="item">세미나</a>
        <a href="{% url 'post_list' name='playstorming' %}" class="item">플레이 스토밍</a>
        <a href="{% url 'workshop_ongoing' %}" class="item">워크샵</a>
      </div>
    </div>
    <a href="{% url 'gallery' %}" class="item">갤러리</a>
    <a href="{% url 'schedule' %}" class="item">일정</a>
    <div class="right-container">
      <a href="{% url 'profile' %}"><img class="icon" src="{% static 'mainapp/img/icon/profile.svg' %}"></a>
      <a href="{% url 'logout' %}"><img class="icon" src="{% static 'mainapp/img/icon/logout.svg' %}"></a>
    </div>
  </div>
</nav>
<header>
  <div class="overlay-dark"></div>
  <div class="center-container">
    <div id="title-container" class="center-item">
      <h1>{% block header_title %}{% endblock %}</h1>
      <p>{% block header_content %}{% endblock %}</p>
    </div>
  </div>
</header>
<section id="message-container" class="ui container">
  {% if message %}
    <div class="ui message">{{ message }}</div>
  {% endif %}
  {% if success %}
    <div class="ui message blue">{{ success }}</div>
  {% endif %}
  {% if warning %}
    <div class="ui message yellow">{{ warning }}</div>
  {% endif %}
  {% if error %}
    <div class="ui message red">{{ error }}</div>
  {% endif %}
</section>
{% block body %}
{% endblock %}
<div class="ui vertical footer segment push-top3 push-bottom3" style="margin-top:60px!important;">
  <div class="ui center aligned container">
    <a href="{% url 'homepage_main' %}" ><h2 id="footer-logo">JARAM</h2></a>
    <div class="ui horizontal small divided link list">
      <a class="item" href="{% url 'sitemap' %}">Site Map</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="{% url 'terms_and_conditions' %}">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
    </div>
  </div>
</div>
</body>
</html>