<!DOCTYPE html>
<html lang="en">
<head>

  {% load staticfiles %}
  <title>Jaram</title>
  {% include 'head_default.html' %}

  <link rel="stylesheet" href="{% static 'mainapp/css/login.css' %}">
  <style>
    header {
      background: url("{% static 'mainapp/img/background.jpg'%}") center;
      background-size: cover;
    }
  </style>

  <script>
    $(function () {
    })
  </script>
</head>
<body>
<nav>
  <a id="back" href="{% url 'intro' %}" style="float: right;"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
</nav>
<header class="blur-background">
  <div class="overlay"></div>
  <div class="vertical-center-container">
    <div class="vertical-center-item">
      <div id="login-item">
        <form class="ui form" method="post">
          {% csrf_token %}
          <h1>로그인</h1>
          <div class="field">
            <label for="login_id">아이디</label>
            <input type="text" name="login_id" title="id">
          </div>
          <div class="field">
            <label for="login_pw">비밀번호</label>
            <input type="password" name="login_pw" title="password">
          </div>
          <button type="submit" class="ui inverted button">로그인</button>
        </form>
      </div>
    </div>
  </div>
</header>
</body>
</html>