{% extends 'layout.html' %}

{% block header_title %}
  중요 알림
{% endblock %}

{% block header_content %}
  알림 내용
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="ui stackable two column divided grid container">
    <div class="row">
      <!--게시글 목록-->
      <div class="ten wide column">
        <!--최신 게시글-->
        <h1 class="ui header">최신 게시물</h1>
        <div class="ui divider"></div>
        <div class="ui divided items">
            {% for item in new_page %}
              <div class="item">
                <div class="ui small rounded image">
                  <img src="/../../static/mainapp/img/sodam01.jpg" style="width:150px;height:150px;">
                </div>
                <div class="middle aligned content">
                    {% if forloop.counter == 1 %}
                        {% if dir_0 == 'Seminar' %}
                            <a href={% url 'seminar_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% elif dir_0 == 'PlayStorming' %}
                            <a href={% url 'playstorming_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% elif dir_0 == 'GraduatingBoard' %}
                            <a href={% url 'graduating_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% elif dir_0 == 'StudentBoard' %}
                            <a href={% url 'student_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% endif %}
                    {% elif forloop.counter == 2 %}
                        {% if dir_11 == 'Seminar' %}
                            <a href={% url 'seminar_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% elif dir_1 == 'PlayStorming' %}
                            <a href={% url 'playstorming_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% elif dir_1 == 'GraduatingBoard' %}
                            <a href={% url 'graduating_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% elif dir_1 == 'StudentBoard' %}
                            <a href={% url 'student_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% endif %}
                    {% else %}
                        {% if dir_2 == 'Seminar' %}
                            <a href={% url 'seminar_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% elif dir_2 == 'PlayStorming' %}
                            <a href={% url 'playstorming_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% elif dir_2 == 'GraduatingBoard' %}
                            <a href={% url 'graduating_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% elif dir_2 == 'StudentBoard' %}
                            <a href={% url 'student_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% endif %}
                    {% endif %}
                  <div class="meta">
                      {% autoescape off %}
                        <span>{{ item.content }}</span>
                      {% endautoescape %}
                  </div>
                  <div class="description">
                    <br>
                  </div>
                  <div class="extra">
                    <div class="ui right floated small breadcrumb">
                      {% if forloop.counter == 1 %}
                          {% if dir_0 == 'Seminar' %}
                              <a href={% url 'seminar' %} class="section">{{ dir_0 }}</a>
                          {% elif dir_0 == 'PlayStorming' %}
                              <a href={% url 'playstorming' %} class="section">{{ dir_0 }}</a>
                          {% elif dir_0 == 'GraduatingBoard' %}
                              <a href={% url 'graduating' %} class="section">{{ dir_0 }}</a>
                          {% elif dir_0 == 'StudentBoard' %}
                              <a href={% url 'student' %} class="section">{{ dir_0 }}</a>
                          {% endif %}
                        {% elif forloop.counter == 2 %}
                          {% if dir_1 == 'Seminar' %}
                              <a href={% url 'seminar' %} class="section">{{ dir_1 }}</a>
                          {% elif dir_1 == 'PlayStorming' %}
                              <a href={% url 'playstorming' %} class="section">{{ dir_1 }}</a>
                          {% elif dir_1 == 'GraduatingBoard' %}
                              <a href={% url 'graduating' %} class="section">{{ dir_1 }}</a>
                          {% elif dir_1 == 'StudentBoard' %}
                              <a href={% url 'student' %} class="section">{{ dir_1 }}</a>
                          {% endif %}
                        {% else %}
                            {% if dir_2 == 'Seminar' %}
                              <a href={% url 'seminar' %} class="section">{{ dir_2 }}</a>
                            {% elif dir_2 == 'PlayStorming' %}
                              <a href={% url 'playstorming' %} class="section">{{ dir_2 }}</a>
                            {% elif dir_2 == 'GraduatingBoard' %}
                              <a href={% url 'graduating' %} class="section">{{ dir_2 }}</a>
                            {% elif dir_2 == 'StudentBoard' %}
                              <a href={% url 'student' %} class="section">{{ dir_2 }}</a>
                             {% endif %}
                        {% endif %}
                    </div>
                    <span class="writer">{{ item.writer }}</span>
                    <span class="">|</span>
                    <span class="posted_date">{{ item.write_date }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
        <!--공지사항-->
        <h1 class="ui header">공지사항</h1>
        <div class="ui divider"></div>
        <div class="ui divided items">
            {% for item in announce_page %}
                  <div class="item">
                    <div class="ui small rounded image">
                      <img src="/../../static/mainapp/img/sodam01.jpg" style="width:150px;height:150px;">
                    </div>
                    <div class="middle aligned content">
                        {% if item.importance == True %}
                            <a href={% url 'announcement_detail' id=item.pk %} class="header" style="">중요 : {{ item.title }}</a>
                        {% else %}
                            <a href={% url 'announcement_detail' id=item.pk %} class="header" style="">{{ item.title }}</a>
                        {% endif %}
                      <div class="meta">
                          {% autoescape off %}
                          <span>{{ item.content }}</span>
                          {% endautoescape %}
                      </div>
                      <div class="description">
                        <br>
                      </div>
                      <div class="extra">
                        {{ item.write_date }}
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>
      </div>
      <!--우측 위젯 바-->
      <div class="six wide column">
        <div class="ui segment">
          <h1>Upcoming Events</h1>
          <div class="ui divider"></div>
          <p>2016/05/31</p>
          <ul>
            <li>현충일</li>
            <li>세미나(31기 송유경, 31기 박건우)</li>
            <li>빈지노 정규앨범 발매일</li>
          </ul>
          <br>
          <p>이벤트 들어가는 자리. 디자인은 나중에...</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}