<!DOCTYPE html>
<html lang="en">
<head>

  {% load staticfiles %}
  <title>Jaram</title>
  {% include 'head_default.html' %}

  <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}"/>
  <style>
    header {
      background: url("{% static 'mainapp/img/background.jpg'%}") center;
      background-size: cover;
    }
  </style>

  <script>
    $(function () {
    })
  </script>
</head>
<body>
<nav>Jaram
  <a href="{% url 'login' %}" style="float: right;">로그인</a>
</nav>
<header>
  <div class="overlay-dark"></div>
  <div class="title-container">
    <h1 class="title">Jaram</h1>
  </div>
  <div id="schedule">
    <h5>
      schedule list
    </h5>
    <hr>
    <ul>
      <li>schedule 1</li>
      <li>schedule 2</li>
      <li>schedule 3</li>
      <li>schedule 4</li>
    </ul>
  </div>
</header>
<section id="hello">
  <div class="main-icon">
    <i class="fa fa-exclamation" aria-hidden="true"></i>
  </div>
  <h1>안녕하세요!</h1>
</section>
<section id="introduce" class="accent">
  <div class="ui container">
    <h1>안녕하세요!</h1>
    <p>
      안녕하세요. 자람은 한양대학교 ERICA 캠퍼스 컴퓨터공학과 전공동아리로 1984년부터 시작해서 현재까지 30년이 넘게 운영되고 있는 학회입니다.
      <br>

    </p>
  </div>
</section>
<section id="activity">
  <h1>저희는 이런 활동을 하는 학회입니다.</h1>
  <p>
    컴퓨터공학과에 들어올 때부터 관심분야를 정확히 정하고 잘하는 사람은 많지 않습니다.
    <br>
    자람은 세미나와 다양한 스터디, 각 분야에 있는 선배들을 통해서 다양한 분야를 공부해볼 수 있습니다.
    <br>
    아직 관심분야를 정하지 못한 학생들은 다양한 분야를 접해보면서 흥미가 가는 방향으로 공부를 이끌고,
    <br>
    관심분야가 정해진 친구들은 스터디를 꾸려 관심분야를 더 깊게 공부할 수 있도록 체제가 이루어져 있습니다.
    <br>
    또한 아직 컴퓨터에 대한 기초지식이 부족한 신입생 후배들을 위해서 매주 플레이스토밍을 진행합니다.
  </p>
  <div class="ui container three column grid push-top3">
    <div class="column">
      <div class="main-icon">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </div>
      <h3>스터디</h3>
      <p>개별 진행</p>
    </div>
    <div class="column">
      <div class="main-icon">
        <i class="fa fa-television" aria-hidden="true"></i>
      </div>
      <h3>세미나</h3>
      <p>주 1회 진행</p>
    </div>
    <div class="column">
      <div class="main-icon">
        <i class="fa fa-code" aria-hidden="true"></i>
      </div>
      <h3>플레이스토밍</h3>
      <p>주 1회 진행</p>
    </div>
  </div>
</section>
<section id="study-gallery" class="ui four column grid gallery">
  <div class="row">
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image12.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image13.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image14.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image15.jpeg' %}">
    </div>
  </div>
  <div class="row">
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image16.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image17.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image18.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image20.jpeg' %}">
    </div>
  </div>
</section>
<section id="play">
  <h1>단합이 잘되어 있다는 의미를 쓰고 싶은데 뭐라 쓰지..</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    <br>
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    <br>
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    <br>
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    <br>
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    <br>
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <div class="ui container four column grid push-top3">
    <div class="column">
      <div class="main-icon">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </div>
      <h3>신년회</h3>
      <p>매년 1학기 개강 전에 진행</p>
    </div>
    <div class="column">
      <div class="main-icon">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </div>
      <h3>체육대회</h3>
      <p>여름 또는 가을에 진행</p>
    </div>
    <div class="column">
      <div class="main-icon">
        <i class="fa fa-television" aria-hidden="true"></i>
      </div>
      <h3>엠티</h3>
      <p>연 2회 진행</p>
    </div>
    <div class="column">
      <div class="main-icon">
        <i class="fa fa-code" aria-hidden="true"></i>
      </div>
      <h3>어느날 갑자기 웹실에서</h3>
      <p>갑자기 진행</p>
    </div>
  </div>
</section>
<section id="play-gallery" class="ui four column grid gallery">
  <div class="row">
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image1.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image2.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image3.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image4.jpeg' %}">
    </div>
  </div>
  <div class="row">
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image5.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image6.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image7.jpeg' %}">
    </div>
    <div class="ui column image">
      <img src="{% static 'mainapp/img/test_image/image8.jpeg' %}">
    </div>
  </div>
</section>
<section id="contact">
  <h1>저희와 만나고 싶으시다면</h1>
  <div class="ui container two column grid push-top3">
    <div class="column">
      <div class="main-icon small">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <h3>회장 최순영</h3>
      <p>010-0000-0000</p>
    </div>
    <div class="column">
      <div class="main-icon small">
        <i class="fa fa-university" aria-hidden="true"></i>
      </div>
      <h3>학회방</h3>
      <p>한양대학교 ERICA캠퍼스 제3공학관 지하107호</p>
    </div>
  </div>
</section>
<footer>
  JARAM
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</footer>
</body>
</html>