{% extends 'layout.html' %}

{% block header_title %}
    중요 알림
{% endblock %}

{% block header_content %}
  알림 내용
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="ui stackable two column divided grid container">
        <div class="row">
            <!--게시글 목록-->
            <div class="ten wide column">
                <!--최신 게시글-->
                <h1 class="ui header">최신 게시물</h1>
                <div class="ui divider"></div>
                <div class="ui divided items">
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/mainapp/img/sodam01.jpg" style="width:150px;height:150px;">
                        </div>
                        <div class="middle aligned content">
                            <a class="header" style="">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language.</span>
                            </div>
                            <div class="description">
                                <br>
                            </div>
                            <div class="extra">
                                <div class="ui right floated small breadcrumb">
                                    <a class="section">Activity</a>
                                    <div class="divider"> / </div>
                                    <a class="section">Study</a>
                                </div>
                                <span class="writer">Kyoungchan Cho</span>
                                <span class="">|</span>
                                <span class="posted_date">2016/05/30</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/mainapp/img/sodam02.png" style="width:150px;height:150px;">
                        </div>
                        <div class="middle aligned content">
                            <a class="header" style="">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language.</span>
                            </div>
                            <div class="description">
                                <br>
                            </div>
                            <div class="extra">
                                <div class="ui right floated small breadcrumb">
                                    <a class="section">Activity</a>
                                    <div class="divider"> / </div>
                                    <a class="section">Seminar</a>
                                </div>
                                <span class="writer">Jongheon Kim</span>
                                <span class="">|</span>
                                <span class="posted_date">2016/05/29</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/mainapp/img/sodam03.jpg" style="width:150px;height:150px;">
                        </div>
                        <div class="middle aligned content">
                            <a class="header" style="">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language.</span>
                            </div>
                            <div class="description">
                                <br>
                            </div>
                            <div class="extra">
                                <div class="ui right floated small breadcrumb">
                                    <a class="section">Activity</a>
                                    <div class="divider"> / </div>
                                    <a class="section">Study</a>
                                </div>
                                <span class="writer">Kyoungchan Cho</span>
                                <span class="">|</span>
                                <span class="posted_date">2016/05/26</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--공지사항-->
                <h1 class="ui header">공지사항</h1>
                <div class="ui divider"></div>
                <div class="ui divided items">
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/mainapp/img/sodam01.jpg" style="width:150px;height:150px;">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language.</span>
                            </div>
                            <div class="description">
                                <br>
                            </div>
                            <div class="extra">
                                2016/05/26
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/mainapp/img/sodam02.png" style="width:150px;height:150px;">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language.</span>
                            </div>
                            <div class="description">
                                <br>
                            </div>
                            <div class="extra">
                                2016/05/29
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="/../../static/mainapp/img/sodam03.jpg" style="width:150px;height:150px;">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">Header</a>
                            <div class="meta">
                                <span>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language.</span>
                            </div>
                            <div class="description">
                                <br>
                            </div>
                            <div class="extra">
                                2016/05/30
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--우측 위젯 바-->
            <div class="six wide column">
                <div class="ui segment">
                    <h1>Upcoming Events</h1>
                    <div class="ui divider"></div>
                    <p>2016/05/31</p>
                    <div class="ui bulleted list">
                        <div class="item">현충일</div>
                        <div class="item">세미나(31기 송유경, 31기 박건우)</div>
                        <div class="item">빈지노 정규앨범 발매일</div>
                    </div>
                    <br>
                    <p>이벤트 들어가는 자리. 디자인은 나중에...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <a href="{% url 'homepage_main' %}"><h2 id="logo" class="push-right2">JARAM</h2></a>
            <div class="ui horizontal small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
{% endblock %}