{% extends 'layout.html' %}

{% load staticfiles %}
{% load board_extras %}

{% block header_title %}
  자람 회칙
{% endblock %}

{% block header_content %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="ui text container">
    <div id="contents">
      <h1>회칙(안)</h1>

<p>개정 - 2014. 00. 00</p>

<h2>제 1 장 총 칙</h2>

<h3>제 1 조 (명 칭)</h3>

<p>한양대학교 컴퓨터공학과(구 전자컴퓨터공학부 컴퓨터공학전공) 내 컴퓨터 전공 학회의 명칭을 자람(Jaram)이라 칭한다.<br>
‘자람’이란 의미는 ‘자라는 사람’과 ‘잘하는 사람’의 두가지 의미를 가진다.</p>

<h3>제 2 조 (목 적)</h3>

<p>컴퓨터 공학(Computer Science &amp; Engineering)을 공부하고 학회원들의 연구, 발표 및 학술 교류를 통해 이 분야의 지속적인 발전에 이바지함과 학회원간의 친목 도모를 목적으로 한다.</p>

<h3>제 3 조 (사 업)</h3>

<p>제2조 목적 달성을 위하여 아래와 같이 사업을 수행한다. ([ NOT YET ] 하며 본 사업계획은 매년 12월 31일까지 임원진이 상정하여 총회의 심의, 의결을 거쳐 확정한다.)</p>

<pre><code>1. 전시회: 매년 공학대학 학술제마다 학회원들의 작품을 전시한다.
2. 워크샵: 방학 기간 중 1회 이상 학회원을 대상으로 개최한다. [ MODIFIED ]
3. 체육대회: 매년 1회 이상 체육활동을 통해 친목을 다질 수 있는 행사를 개최한다.
4. 신년회: 매년 동계방학에 OB와 YB의 만남을 주최한다.(신년회)
5. O.T.: 학년 초 공대 O.T.에 참가하여 학회 홍보를 한다.
6. M.T.: 학회원간의 친목 도모를 위해 학기 중 자람 M.T.를 실시한다.
</code></pre>

<h2>제 2 장 회 원</h2>

<h3>제 4 조 (자 격)</h3>

<p>회원은 컴퓨터공학과의 3학년 이하 학생으로 하며, 타 학과의 학생과 기타 사항에 대해서는 임원진이 판단하여 결정한다.<br>
4학년 이상의 학생은 자람 신입회원으로 가입할 수 없다.</p>

<h3>제 5 조 (구 성)</h3>

<p>회원은 OB, 준OB, 정회원, 준회원, 휴학회원, 수습회원의 6단계로 구성된다.</p>

<pre><code>1. O       B : 자람 회원으로 졸업한 회원
2. 준  O  B : 준 OB로의 변경의 조건에 만족하는 4학년 재학생 혹은 휴학생 [ MODIFIED ]
3. 정  회 원 : 정회원으로의 변경의 조건에 만족하는 재학생
4. 준  회 원 : 자람에 들어오고자 하는, 신입생을 제외한 재학생 혹은 수습회원 중 1학기 이상 마친 회원
5. 수습회원 : 자람에 들어오고자 하는, 1학년 1학기중인 신입생
6. 휴학회원 : 자람의 회원 중 휴학중인 회원
</code></pre>

<h3>제 6 조 (변 경)</h3>

<p>제 4조 구성의 변경은 다음을 만족할 경우 시행한다.</p>

<ol>
	<li>준회원
	<ol>
		<li>수습회원으로서의 의무를 성실히 수행한 수습회원에게 자격을 부여한다.</li>
	</ol>
	</li>
	<li>정회원
	<ol>
		<li>준회원으로서의 의무를 성실히 수행한 준회원에게 자격을 부여한다.</li>
		<li>수습회원을 거치지 않은 준회원의 경우 프로젝트 제출 이후 정회원의 자격을 부여한다. (단, 회장과 부회장이 프로젝트의 적합성 여부를 판단한 후에 정회원의 자격을 부여한다.)</li>
	</ol>
	</li>
	<li>준 OB
	<ol>
		<li>가입하고 8년이 지난 사람에게 준 OB의 자격을 부여한다.</li>
		<li>정회원이 4학년이 되었을 경우 준 OB 자격을 부여한다.</li>
		<li>수습회원을 거치지 않은 정회원은 4학년2학기부터 준OB 자격을 부여한다.</li>
	</ol>
	</li>
	<li>OB
	<ol>
		<li>준 OB가 졸업을 할 경우 OB 자격을 부여한다.</li>
		<li>3학년때 준회원으로 가입했던 정회원은 준OB 자격을 거치지 않고 졸업 시 OB의 자격을 부여한다.</li>
	</ol>
	</li>
	<li>휴학회원
	<ol>
		<li>정회원, 준회원, 수습회원이 휴학을 하게되면 휴학회원의 자격을 부여한다. 휴학회원이 복학하면 휴학 전의 자격을 부여한다.</li>
	</ol>
	</li>
</ol>

<p>각 기수는 전년도 겨울학기부터 금년 여름학기를 하나로 하며, 학번에 맞지 않는 기수일 경우 졸업할 시 본인의 의사에 따라 자신의 학번에 맞는 기수로 변경할 수 있도록 한다.</p>

<h3>제 7 조 (의무와 권리)</h3>

<ol>
	<li>수습회원은 가입 후 6개월간 특별한 사유가 없는 한 다음 사항을 모두 이수해야 한다.
	<ol>
		<li>신입생 워크샵 참가</li>
		<li>스터디 그룹 참가</li>
		<li>세미나 참석<br>
		총 진행되는 세미나의 80% 이상 참석해야한다. (소수점 올림)</li>
		<li>회비 납부</li>
	</ol>
	</li>
	<li>준회원은 가입 후 6개월간 특별한 사유가 없는 한 다음 사항을 모두 이수해야 한다.
	<ol>
		<li>모든 공식행사 참가</li>
		<li>회비 납부</li>
	</ol>
	</li>
	<li>정회원과 준회원<br>
	임원진을 제외한 모든 정회원은 6개월동안 다음 사항을 모두 이수해야 한다. 타당한 사유가 있을 경우 회장 승인 하에 의무가 면제될 수 있으나, 졸업 전까지 면제는 1회에 한정한다. 이 경우 4학년 1학기가 끝나야 준 OB로 변경된다.<br>
	교내외 대회에 참가하여 상을 받은 사람은 1년간 다음 의무가 면제된다.
	<ol>
		<li>1명 이상이 참가한 소프트웨어 개발 프로젝트
		<ol>
			<li>기간은 반년으로 하며, 프로젝트의 내용에 따라 회장의 승인 하에 프로젝트 기간을 조정하도록 한다.</li>
			<li>자람 내 소스코드를 공개</li>
			<li>기술문서로 Github내에 문서를 작성한다.</li>
			<li>완료 후 학술부장과 함께 발표회를 개최한다.</li>
		</ol>
		</li>
		<li>세미나
		<ol>
			<li>1년동안 1회 이상 강연한다.</li>
			<li>특별한 경우를 제외하고 혼자 진행한다.</li>
			<li>퀄리티가 낮은 세미나의 경우 회장과 부회장의 판단하에 같은 주제로 재수행하도록 한다.
			<ol>
				<li>세미나 1주일 전 임원진을 대상으로 리허설을 진행하고 리뷰를 받는다. [ NEW ]</li>
			</ol>
			</li>
			<li>세미나 자료는 홈페이지에 정리하며, 해당 세미나를 참석한 회원은 해당 페이지에 코멘트를 남기도록 한다. [ NEW ]</li>
			<li>세미나 자료를 SlideShare(링크)에 공개한다. [ NOT YET ]</li>
			<li>공개 세미나의 경우 임원진과 함께 교내외 홍보를 진행하며, 학회의 이미지를 손상시키지 않을 정도의 퀄리티를 갖고 있어야한다.</li>
		</ol>
		</li>
		<li>스터디
		<ol>
			<li>1학기에 하나 이상 진행한다.</li>
			<li>3주에 1번 스터디 진행 상황을 발표하며, 현재까지의 진행한 내용과 앞으로 진행할 내용을 정리하여 5분내외로 진행한다.</li>
			<li>위키페이지를 정리해야한다.</li>
		</ol>
		</li>
		<li>회비 납부</li>
	</ol>
	</li>
</ol>

<p>1) 2) 3)의 각 조건은 회장과 부회장의 판단을 하여 부합되지 않으면 항목 당 1회의 주의를 줄 수 있다.<br>
위의 모든 내용은 computer science, software engineering에 관한 내용이거나 그에 관련된 내용이어야 한다.</p>

<p>자람의 모든 사안 결정은 정회원을 대상으로 한다.<br>
모든 자람 회원은 자람 회계 내역에 대해 공개를 요구할 수 있다.</p>

<h3>제 8 조 (제 명)</h3>

<p>학회 활동간 의무사항을 이행하지 못하거나, 성실하지 못한 회원에 대해 주의를 줄 수 있으며 다음과 같이 적용한다.</p>

<ol>
	<li>정회원
	<ol>
		<li>주의 3회 누적 시 경고 1회</li>
		<li>경고 2회 누적 시 제명</li>
	</ol>
	</li>
	<li>준회원 및 수습회원
	<ol>
		<li>한 학기 2회 이상 주의 누적 시 제명</li>
	</ol>
	</li>
	<li>기타
	<ol>
		<li>다른 학회원과의 연락이 전혀 없는 휴학회원에 대해 회원과 부회장의 권한으로 제명시킬 수 있다.</li>
		<li>정기회비를 미납하거나 특별한 사유없이 자람 행사에 참여하지 않을 경우 회장과 부회장의 판단 하에 주의 1회를 줄 수 있다.</li>
		<li>그 외 학회원으로서 자격이 없다고 판단되는 자는 정회원 2분의 1 이상의 동의를 얻어 자격을 박탈할 수 있다.</li>
	</ol>
	</li>
</ol>

<h2>제 3 장 임원 및 조직</h2>

<h3>제 9 조 (조 직)</h3>

<p>자람의 조직은 임원단, 학술부, 섭외부, 서버팀, 회원으로 구성한다.</p>

<h3>제 10 조 (임 원 단)</h3>

<p>임원단은 회장, 부회장, 학술부장, 섭외부장, 서버관리자, 회계로 구성하며 임기동안 자람의 활동을 책임진다.</p>

<h3>제 10 조 (임원과 직무)</h3>

<p>임원은 특별한 사유가 없는 한 모든 공식 행사에 반드시 참가해야 하며, 자람 회칙에 대해 자세히 알고 있어야 한다</p>

<ol>
	<li>회장
	<ol>
		<li>자람을 대표하여 학회 업무를 총괄하고 총회의 의장이 된다.</li>
	</ol>
	</li>
	<li>부회장
	<ol>
		<li>부회장은 회장이 회장직을 수행할 수 없는 경우에 회장의 역할을 대행하며, 평상시에는 회장을 충실히 보좌한다.</li>
		<li>부회장은 모든 행사의 모든 회원의 출석을 기록, 보관한다.</li>
	</ol>
	</li>
	<li>학술부장[MODIFIED]
	<ol>
		<li>학술부장은 학술부원과 일을 분담하여 자람 스터디팀 조직, 세미나 일정 관리, 진행되고 있는 프로젝트 파악 등 자람에 관련된 모든 학술활동에 대해 관리한다</li>
		<li>학술부장은 홈페이지 스터디 항목을 관리한다.</li>
	</ol>
	</li>
	<li>섭외부장[MODIFIED]
	<ol>
		<li>섭외부장은 섭외부원과 일을 분담하여 모든 자람행사/신입생 모집의 홍보/장소섭외를 담당한다.</li>
		<li>섭외부장은 모든 회의, 종강총회, 개강총회에서의 회의 내용 기록 및 정리하고, 웹에 업로드 할 의무가 있다.</li>
		<li>섭외부장은 위 사항 외의 전체 메일과, 공지 등을 작성한다.</li>
	</ol>
	</li>
	<li>서버관리자
	<ol>
		<li>서버관리자는 서버팀과 일을 분담하여 자람서버, 자라미 서버를 관리한다.</li>
		<li>서버관리자는 매달 1회 이상 서버를 백업한다.</li>
		<li>서버관리자는 이 두 서버에 관한 모든 관리권한을 가지며 모든 책임은 회장에게 있다. 단, 매달 1회 서버 백업을 하지 않은 경우 책임은 서버 관리자에게 있다.</li>
		<li>서버에 관한 모든 요청사항은 서버관리자에게 직접 요청하지 아니하며 모든 요청은 회장이나 부회장을 통해서 이루어진다.</li>
	</ol>
	</li>
	<li>회계
	<ol>
		<li>회계는 자람 재정 관리와 학회방 재정을 관리한다.</li>
		<li>회계는 학회원이 회계 내역 공개를 요구하면 회계 내역에 대해 즉시 공개 할 의무가 있다.</li>
		<li>회계는 자람 재정과 학회방 재정을 이용한 모든 구입에 대한 서류를 영구적으로 보관해야 한다.</li>
		<li>회계는 모든 회계 장부를 컴퓨터 파일로 보관하고 사본을 최소한 1개 이상 다른 컴퓨터에 유지한다.(2008년 시행)</li>
		<li>회계는 매 학기 종강총회 직후 반기에 대한 재정내역을 자람 홈페이지에 공개하고 지면에 출력하여 학회방에 보관한다.</li>
		<li>회계는 회비를 납부하지 않은 회원 명단을 공개하여야 한다.</li>
	</ol>
	</li>
</ol>

<h3>제 11 조 (임 기)</h3>

<p>임원의 임기는 동계방학이 시작되는 날부터 다음 동계방학이 오는 날까지로 한다. 단, 필요시 전체 모임을 통해 예외를 인정한다.</p>

<h3>제 12 조 (선 출)[MODIFIED]</h3>

<ol>
	<li>모든 임원은 12월 종강총회에서 선출한다.</li>
	<li>임원을 선출하기 위해 정회원의 3분의 2 이상이 참석해야 하며, 참석인원의 자유 선거에 의해 선출된다. (재투표는 불허한다.)</li>
	<li>임원은 2학기 이상 수료한 자로 제한한다.</li>
	<li>임원은 가입한지 2학기 이상 지난 자로 제한한다.</li>
	<li>임기 내 임원의 교체는 정회원의 3분의 2 이상이 참여하여 3분의 2 이상이 찬성할 경우 이뤄질 수 있다.</li>
</ol>

<h2>제 4 장 회 의</h2>

<h3>제 13 조 (회 의)</h3>

<p>이 학회는 업무의 수행을 위해 정기총회와 임시총회를 개최한다.</p>

<h3>제 14 조 (정기 총회)</h3>

<p>정기 총회의 소집과 성립 및 기능, 의결 요건은 다음과 같다.</p>

<ol>
	<li>정기 총회는 매학기 학기 초 개강 총회와 학기 말 종강 총회 2회를 개최한다.</li>
	<li>총회는 정회원의 3분의 2 이상이 출석했을 때 성립하며, 임원단은 출석 회원으로 간주한다.</li>
	<li>총회는 회장, 부회장 및 임원진을 선출하며, 회칙을 제정/개정하고 기타 학회 업무 및 예/결산을 심의한다.</li>
	<li>총회의 의결은 출석 회원 과반수의 동의에 의하는 것을 원칙으로 한다. 단, 회칙 개정과 제명 등의 일은 각 조항에 명시된 인원의 동의에 의한다.(일반 의결 사항의 경우 찬반 수가 같을 때에는 회장의 결정에 따른다.)</li>
</ol>

<h3>제 15 조 (임시 총회)</h3>

<p>임시 총회는 정회원 4분의 1 이상 혹은 임원단 과반수의 요청이 있을 경우에 회장이 소집한다.</p>

<h2>제 5장 재 정</h2>

<h3>제 16 조 (납 부)</h3>

<ol>
	<li>정기회비는 자람에 가입한 후부터 정회원의 자격을 상실할 때까지 납부하여야 한다.</li>
	<li>정기회비는 학기마다 임원진이 회의를 통해 결정한다</li>
	<li>정회원은 정기회비와 자람 공식행사 회비를 납부하여야 하며, 공식행사 회비는 임원단에서 금액을 결정한다.</li>
	<li>준OB, 정회원, 준회원, 수습회원을 대상으로 걷으며 준OB와 수습회원은 회비의 반액, 정회원과 준회원는 회비 전액을 낸다.</li>
</ol>

<h3>제 17 조 (사 용)</h3>

<ol>
	<li>공식 행사를 진행할 시 임원단이 판단하여 적당한 금액을 정기회비에서 보조한다.</li>
	<li>학회 내 필요 물품을 구비할 시 사용한다.</li>
</ol>

<h2>부 칙</h2>

<h3>제 1조</h3>

    </div>
  </div>
{% endblock %}