{% extends 'layout.html' %}

{% load staticfiles %}

{% block header_title %}
  카렌다
{% endblock %}

{% block header_content %}
  구월
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'schedule/css/calendar.css' %}"/>
{#  <script>#}
{#    function setTitleVisibility() {#}
{#      if ($('div#media-768').css('display') == 'none') $(".title").remove();#}
{#    }#}
{#    $(window).on('load', function () {#}
{#      setTitleVisibility();#}
{#    });#}
{#    $(window).on('resize', function () {#}
{#      setTitleVisibility()#}
{#    });#}
{#  </script>#}
{% endblock %}

{% block body %}
  <section class="ui container">
    <table class="ui very basic celled unstackable table">
      <thead>
        <tr>
          <th width="14%" style="background-color: #f7f7f7; padding:10px;">
            <p class="weekday">SUN</p>
          </th>
          <th width="14%" style="padding:10px;">
            <p class="weekday">MON</p>
          </th>
          <th width="14%" style="padding:10px;">
            <p class="weekday">TUE</p>
          </th>
          <th width="14%" style="padding:10px;">
            <p class="weekday">WED</p>
          </th>
          <th width="14%" style="padding:10px;">
            <p class="weekday">THU</p>
          </th>
          <th width="14%" style="padding:10px;">
            <p class="weekday">FRI</p>
          </th>
          <th width="14%" style="padding:10px;">
            <p class="weekday">SAT</p>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for weeks in new_calendar %}
          <tr>
            {% for date in weeks %}
              {% if forloop.counter0 == 0 %}
                <td class="weekend date">
                  <div class="container">
                    <div class="date">
                      <p>{% if date != 0 %}{{ date }}{% endif %}</p>
                    </div>
                    <div class="contents">
                      {% for event in events %}
                        {% if event.start_date.day <= date and event.end_date.day >= date %}
                          <div class="schedule">
                            <i class="{{ event.category.color }} circle icon" style="position:absolute;
                                top: {{ forloop.counter0 }};left: 5px"></i>
                            <a href="{% url 'scheduleDetail' id=event.pk %}" class="title">{{ event.title }}</a>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </td>
              {% else %}
                <td class="date">
                  <div class="container">
                    <div class="date">
                      <p>{% if date != 0 %}{{ date }}{% endif %}</p>
                    </div>
                    <div class="contents">
                      {% for event in events %}
                        {% if event.start_date.day <= date and event.end_date.day >= date %}
                          <div class="schedule">
                            <i class="{{ event.category.color }} circle icon" style="position:absolute;
                                top: {{ forloop.counter0 }};left: 5px;z-index: -1"></i>
                            <a href="{% url 'scheduleDetail' id=event.pk %}" class="title">{{ event.title }}</a>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
{#  <div id="media-768"></div>#}
  </section>


{% endblock %}